<div class="container">
	<div class="row">
		<div class="col-lg-12">

			<table class="table table-stryped">
				<thead><h3>ユーザーの投稿</h3></thead>
				<div id="nav-search">
					<%= form_tag user_timelines_path, :method => 'get' do %>
					<p class="text-right">
						<%= text_field_tag :search, params[:search] %>
						<%= submit_tag "検索", :timeline => nil %>
					</p>
					<% end %>
				</div>
				<% @timelines.each do |timeline| %>
				<tr>
					<td><%= timeline.created_at %></td>
					<td><%= timeline.timeline %></td>
					<td><%= link_to "削除", admin_timeline_path(@timeline), class: "btn btn-danger", data: {:comfirm => '削除します。よろしいですか？'}, method: :delete %></td>
				</tr>
				<% end %>
			</table>
			<%= paginate @timelines %>
	</div>
</div>